[project]
	description = Missing functions and gralloc for raspberry pi userland code
[access "refs/*"]
	owner = group user/Viktor Warg (vwarg)
[access "refs/for/refs/*"]
	read = group user/Viktor Warg (vwarg)
	push = group user/Viktor Warg (vwarg)
	label-Code-Review = -2..+2 group user/Viktor Warg (vwarg)
	label-Verified = -1..+1 group user/Viktor Warg (vwarg)
	rebase = group user/Viktor Warg (vwarg)
	removeReviewer = group user/Viktor Warg (vwarg)
	submit = group user/Viktor Warg (vwarg)
[access "refs/heads/*"]
	read = group user/Viktor Warg (vwarg)
	create = group user/Viktor Warg (vwarg)
	push = +force group user/Viktor Warg (vwarg)
	pushMerge = group user/Viktor Warg (vwarg)
[access "refs/tags/*"]
	push = +force group user/Viktor Warg (vwarg)
	pushTag = group user/Viktor Warg (vwarg)
	pushSignedTag = group user/Viktor Warg (vwarg)
